* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: repeating-conic-gradient(#111 45deg, #121 90deg, #111 135deg, #121 180deg);
}

h3 {
	position: absolute;
	top: 2%;
	color: #eee;
	text-align: center;	
}

h5 {
	position: absolute;
	top: 6%;
	color: #090;
	text-align: center;
}



.egg {
	position: absolute;
	width: 120px;
	height: 160px;
	border-radius: 50%;
	background: #eee;
	box-shadow: 0 0 5px #fff;
}

.end {
	position: absolute;
	top: 70px;
	left: 45px;
	color: #090;
	font-size: 1em;
	z-index: 1;
}

.egg .crack1 {
	position: absolute;
	top: 50%;
	left: 102.6px;
	width: 20px;
	height: 1px;
	transform: rotate(45deg);
	background: #000;
	visibility: hidden;
}

.egg .crack2 {
	position: absolute;
	top: 50%;
	left: 89px;
	width: 20px;
	height: 1.5px;
	transform: rotate(-45deg);
	background: #000;
	visibility: hidden;
}

.egg .crack3 {
	position: absolute;
	top: 49.7%;
	left: 75.6px;
	width: 20px;
	height: 3px;
	transform: rotate(45deg);
	background: #000;
	visibility: hidden;
}

.egg .crack4 {
	position: absolute;
	top: 51%;
	left: 53.3px;
	width: 30px;
	height: 3px;
	transform: rotate(-45deg);
	background: #000;
	visibility: hidden;
}

.egg .crack5 {
	position: absolute;
	top: 48.3%;
	left: 25px;
	width: 40px;
	height: 6px;
	transform: rotate(45deg);
	background: #000;
	visibility: hidden;
}

.egg .crack6 {
	position: absolute;
	top: 50%;
	left: -4.7px;
	width: 44.1px;
	height: 4px;
	transform: rotate(-45deg) skewX(-45deg);
	background: #000;
	visibility: hidden;
}